<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dev.css">
</head>
<body>
    {% autoescape false %}
    <h3 align="center">{{author}}</h3>
    <table style="border: 1px;">
        <tr>
            <th>Произведение</th>
            <th>Объем</th>
            <th>Updated</th>
            <th>Updated At</th>
        </tr>
            {% for item in contents %}
            <tr>
            <td><a href="{{ item.href }}" target="_blank">{{ item.book }}</a></td>
            <td align="right">{{ item.volume }}</td>
            {% if item.update_info is defined %}
                <td style="text-align: right; color: green;">{{ item.update_info }}
            {% else %}
                <td>
            {% endif %}</td>
            <td>{{ item.updated_at }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endautoescape %}
</body>
</html>