<!DOCTYPE html>
{% autoescape false %}
<h3 align="center">{{author}}</h3>
<table>
      <tr>
            <th>Произведение</th>
            <th>Объем</th>
            <th>Updated</th>
      </tr>
      {% for item in contents %}
      <tr>
            <td><a href="{{ item.href }}" target="_blank">{{ item.book }}</a></td>
            <td align="right">{{ item.volume }}</td>
            {% if item.updated is defined %}
                <td style="text-align: right; color: green;">{{ item.updated }}
            {% else %}
                <td>
            {% endif %}</td>
      </tr>
      {% endfor %}
</table>
{% endautoescape %}