<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/{{ env }}.css">
    <script src="/js/zepto.min.js"></script>
    <script>
        function getTasksInProgressCount() {
            $.ajax({
                type: 'GET',
                url: '/task-stats',
                success: function(data){
                    $('#tasksInProgress').text(data);
                },
                error: function(xhr, type){
                    alert(type);
                }
            });
        }
    </script>
</head>
<body>
    {% autoescape false %}
    <h3 align="center">{{author}}</h3>
    <button onclick="getTasksInProgressCount()">Количество задач в очереди:</button> <span id="tasksInProgress">0</span>
    <table>
        <tr>
            <th>Автор</th>
            <th>Произведение</th>
            <th>Объем</th>
            <th>Update</th>
            <th>Updated At</th>
        </tr>
        {% for item in contents %}
        <tr>
            <td><a href="/author/{{ item.author_id }}" target="_blank">{{ item.author }}</a></td>
            <td><a href="{{ item.href }}" target="_blank">{{ item.book }}</a></td>
            <td align="right">{{ item.volume }}</td>
            <td align="right">{{ item.update_info }}</td>
            <td align="right">{{ item.updated_at }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endautoescape %}
</body>
</html>